*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    color: #ffff;
    background-color:rgb(14, 22, 43);
}
body{
    color: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}

/* utilitarios */
.grid{
    display: grid;
}
.grid-coluna{
    grid-auto-flow: column;
}
#primeiro,#segundo{
    padding-block: 12px;
    justify-content: space-between;
}
#segundo{
    border-block:1px solid #172133 ;
}
.flex{
    display: flex;
    align-items: center;
    gap: 8px;
}
.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding-block: 20px ;
}